.categories-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category {
  width: calc(50% - 0.6rem - 2px);
  margin: -1px -1px 0 0;
  border: 1px solid black;
  padding: 0.3rem;
  text-align: center;
}

.category-name {
  font-size: 1rem;
}

img {
  width: 2.1rem;
}

p {
  margin: 0;
}
