.coin-main {
  padding: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: gainsboro;
}

.coin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.arrow-back {
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  background: url('../../public/icons/arrow-left.png') 50% no-repeat;
  background-size: 18px;
}

.header-coin-image {
  width: 18px;
  height: 18px;
  margin-inline: 0.6rem;
}

.coin-name,
.coin-symbol {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.coin-main-section {
  display: flex;
  flex-direction: column;
}

.coin-details-price {
  font-size: 2.1rem;
  width: fit-content;
}

.mrkt-cap-chng-perc {
  width: fit-content;
}

.coin-MainData {
  display: flex;
}

.coin-MainData-Titles,
.coin-MainData-Values {
  display: flex;
  flex-direction: column;
}

a {
  color: goldenrod;
}

