.coin-main {
  padding: 0.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: gainsboro;
}

.coin-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(108, 108, 108);
}

.arrow-back {
  display: block;
  height: 1.8rem;
  width: 1.8rem;
  background: url('../../public/icons/arrow-left.png') 50% no-repeat;
  background-size: 18px;
}

.header-coin-image {
  width: 18px;
  height: 18px;
  margin-inline: 0.6rem;
}

.coin-name,
.coin-symbol {
  margin: 0;
  font-size: 1rem;
  font-weight: 300;
}

.coin-main-section {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.coin-price-section {
  display: flex;
  flex-direction: row;
  margin: 0.3rem 0;
}

.coin-details-price {
  font-size: 2.1rem;
  width: fit-content;
}

.mrkt-cap-chng-perc {
  width: fit-content;
  align-self: center;
  margin-inline: 0.3rem;
  display: flex;
  align-items: center;
}

.green {
  color: yellowgreen;
  text-align: center;
}

.green::before {
  padding-bottom: 0.18rem;
  content: '▲';
  font-size: 0.45rem;
}

.red {
  color: rgb(255, 39, 84);
}

.red::before {
  padding-top: 0.18rem;
  content: '▼';
  font-size: 0.45rem;
}

.priceChange-percentages {
  margin-block: 0.3rem;
  background-color: #20223f;
  border-radius: 6px;
  padding: 0.3rem;
}

.price-percentage-table {
  display: flex;
  flex-direction: column;
}

.price-perc-tr {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 0.81rem;
}

.price-percentage-th {
  width: 16.666%;
  display: flex;
  justify-content: left;
  padding-left: 0.36rem;
}

.price-percentage-td {
  text-align: center;
  width: 16.666%;
  font-size: 0.66rem;
  display: flex;
  justify-content: left;
}

.coin-MainData {
  display: flex;
  margin-block: 0.3rem;
  background-color: #20223f;
  border-radius: 6px;
  padding: 0.3rem;
  justify-content: space-between;
}

.con-min-data-thead-tbody{
  width: 50%;
}

.coin-MainData-tr {
  display: flex;
  flex-direction: column;font-size: 0.81rem;
}

.coinMD-th,
.coinMD-td {
  min-height: 1rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgb(108, 108, 108);
  padding-block: 0.3rem;
}

.coinMD-th {
  justify-content: left;
}

.coinMD-td {
  justify-content: right;
}

.coinMD-th:last-child,
.coinMD-td:last-child {
  border-bottom: none;
}

a {
  color: goldenrod;
}

