.global-data {
  display: flex;
  margin: 0;
  padding: 0.3rem;
  color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
}

.global-data-title {
  border-radius: 6px;
  border-left: 6px solid yellowgreen;
  font-size: 0.72rem;
  text-align: left;
  padding-inline: 0.3rem;
  background-color: #20223f;
}

.marketCap {
  margin-right: 0.3rem;
}
