svg {
  position: relative;
  left: -0.6rem;
  margin-top: 0.9rem;
}

.domain {
  position: absolute;
  color: rgba(0, 0, 0, 0);
}

#xAxis .tick line {
  stroke: #ffffff00;
}

#yAxis .tick line {
  stroke: #ffffff33;
}

#yAxis .tick text {
  position: relative;
  left: 50px;
}

.tfBtnsContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.2rem;
}

.tfBtn {
  border: none;
  border-radius: 12px;
  padding: 0.3rem 0.6rem;
  background-color: #ffffff2f;
  font-size: 0.63rem;
  color: white;
}

.active-tfBtn {
  background-color: yellowgreen;
}