.price-convertion-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 0.3rem;
}

.filter-label {
  display: flex;
  width: 45%;
  background-color: #20223f;
  align-items: center;
  padding: 0.3rem;
  border-radius: 6px;
  font-size: 0.81rem;
}

.convert-input {
  height: 1.5rem;
  width: 60%;
  border: none;
  background-color: #20223f;
  color: gainsboro;
  border-right: 1px solid rgb(108, 108, 108);
  margin-inline: 0.3rem;
}

.filter-input:focus {
  outline: none;
}

.filter-coin-image {
  width: 15px;
  height: 15px;
  margin-inline: 0.3rem;
}

.selectCurrency {
  border: none;
  background-color: #20223f;
  color: gainsboro;
}
